version: "3.5"
 
services:
  inference-service:
    build:
      context: .
      target: prod
    profiles:
      - production
    depends_on:
      - minio
      - nats-server
    restart: always
    image: inference-service
    container_name: spira-api-inference-service-1
    env_file:
      - envs/message_service.env
      - envs/message_listener.env
      - envs/simple_storage.env
    command: python main.py
    ports:
      - 3000:8000 
    networks:
      - nats-network
      - minio-network
    
  inference-tester:
    build:
      context: .
      target: dev 
    profiles:
      - test
    depends_on:
      - minio
      - nats-server
    restart: always
    image: inference-tester
    container_name: spira-api-inference-tester-1
    env_file:
      - envs/message_service.env
      - envs/message_listener.env
      - envs/simple_storage.env
    entrypoint: python3 -m py.test
    volumes:
      - ".:/app/"
    ports:
      - 3000:8000
    
  inference-tester:
    build:
      context: .
      target: dev 
    profiles:
      - test
    restart: always
    image: inference-tester
    container_name: spira-api-inference-tester-1
    env_file:
      - envs/message_service.env
      - envs/message_listener.env
      - envs/simple_storage.env
    entrypoint: python3 -m py.test
    volumes:
      - ".:/app/"
    ports:
      - 3000:8000
    networks:
      - nats-network
      - minio-network

  nats-server:
    image: nats:2.8.4
    restart: always
    profiles:
      - production
      - test
    ports:
      - 4222:4222
      - 8222:8222
    networks:
      - nats-network

  minio:
    image: minio/minio
    restart: always
    profiles:
      - production
      - test
    ports:
      - 9000:9000
      - 9001:9001
    command: server /data --console-address ':9001' --address ':9000'
    volumes:
      - minio_data:/data
    env_file:
      - envs/minio.env
    networks:
      - minio-network

networks:
  nats-network:
    driver: bridge
    name: nats-bridge

  minio-network:
    driver: bridge
    name: minio-bridge

volumes:
  minio_data:
    
